<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'teachers')}">

<body>

<h2>Teacher</h2>
<form th:object="${teacher}" class="form-horizontal" id="add-owner-form" method="post">
  <div class="form-group has-feedback">
    <input
            th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
    <input
            th:replace="~{fragments/inputField :: input ('Last Name', 'surname', 'text')}" />
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button
              th:with="text=${teacher['new']} ? 'Add Teacher' : 'Update Teacher'"
              class="btn btn-default" type="submit" th:text="${text}">Add
        Teacher</button>
    </div>
  </div>
</form>
</body>
</html>